body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.title {
    font-size: 36px;
    color: #ff0000;
    font-family: 'Cursive';
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.menu-item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.menu-item img {
    width: 100px;
    height: 100px;
}

.footer {
    margin-top: 20px;
}

.nav-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}
